//! **************************************************************************
// Written by: Map P.68d on Sun Mar 15 00:10:00 2015
//! **************************************************************************

SCHEMATIC START;
COMP "MIC" LOCATE = SITE "A6" LEVEL 1;
COMP "SCK" LOCATE = SITE "L13" LEVEL 1;
PIN SCK_pin<0> = BEL "SCK" PINNAME PAD;
PIN "SCK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "WR" LOCATE = SITE "E7" LEVEL 1;
COMP "ZIF" LOCATE = SITE "B6" LEVEL 1;
COMP "CN<0>" LOCATE = SITE "C5" LEVEL 1;
COMP "CN<1>" LOCATE = SITE "F7" LEVEL 1;
SCHEMATIC END;

