
NET "SCK" LOC = L13;
//NET "CS" LOC = A4;
//NET "dataout" LOC = E8;
//NET "MOSI" LOC = D5;
NET "CN[0]" LOC = C5;
NET "CN[1]" LOC = F7;
NET "WR" LOC = E7;
NET "MIC" LOC = A6;
NET "ZIF" LOC = B6;
NET "SCK" CLOCK_DEDICATED_ROUTE = FALSE;